

# --- SUPABASE CONFIGURATION ---
# Found in Supabase Settings > API
NEXT_PUBLIC_SUPABASE_URL= #project_url
NEXT_PUBLIC_SUPABASE_ANON_KEY=  #anon_key
#NEXT_ prefixx was used because it is mandatory in next.ls for thr frontend code to be able to see these variables

#never use this key inside your React frontend components or the React Native mobile app. so next prefix is not used to indicate that.
#t should only ever be used inside your secure Next.js API routes (app/api/...) or Prisma background workers.
SUPABASE_SERVICE_ROLE_KEY=


# --- DATABASE CONFIGURATION ---
# IMPORTANT: Use the Transaction Pooler URL (Port 6543)
# IMPORTANT: Append ?pgbouncer=true at the end
DATABASE_URL= 

# Google Client Credentials for expo mobile app(user)
GOOGLE_CLIENT_ID= 
GOOGLE_CLIENT_SECRET= 

#Gmaps for driver app
GOOGLE_MAPS_API_KEY= 

# --- JWT SECRET ---
# You can generate a random string for now (used in Phase 2)
JWT_SECRET=

# Email
RESEND_API_KEY=
NEXT_PUBLIC_APP_URL=

# Push notifications
FCM_SERVER_KEY=

